.DS_Store
samples.zip
__pycache__/
*.pyc
run/
/bopos.config
/state/
/dashboard/installation.json
/dashboard/installations/
/assets/*
/patches/*
!/patches/README.md
!/patches/active_patch.txt
!/patches/demo-pd/
!/patches/demo-pd/**
!/patches/demo-sc/
!/patches/demo-sc/**
/dashboard/assets/
